<h4>Summary of Must Support and Additional USCDI References Between Profiles</h4>
<ul>
<li><strong>US Core Profile</strong>: The profile that has {% if addl_uscdi %}Additional USCDI{% else %}<em>Must Support</em>{% endif %} Reference elements</li>
<li><strong>Target Profile</strong>: The <em>Must Support</em> target profiles or resources</li>
</ul>

    <table class="grid">
    <thead>
    <tr>
    <th>US Core Profile</th>
    <th>Target Profile</th>
    </tr>
    </thead>
    <tbody>
    {% for v in references_summary["US Core Profile"] %}
        {% set i = loop.index0 %}
        <tr>
          {% for r in references_summary %}
            <td>
            {{references_summary[r][i] | safe | default('-' , true) }}
            </td>          
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>



