<div xmlns="http://www.w3.org/1999/xhtml">
	<p>
		<b> Generated Narrative with Details</b>
	</p>
	<p>
		<b> id</b> {{sp.id}}</p>
	<p>
		<b> url</b> : <b> {{sp.url}}</b>
	</p>
	<p>
		<b> version</b> : {{sp.version}}</p>
	<p>
		<b> name</b> : {{sp.name}}</p>
	<p>
		<b> derivedFrom</b> : <a> {{sp.derivedFrom}}</a>
	</p>
	<p>
		<b> status</b> : {{sp.status}}</p>
	<p>
		<b> experimental</b>  {{sp.experimental}}</p>
	<p>
		<b> date</b> : {{ sp.date.strftime('%m %d, %Y') }}</p>
	<p>
		<b> publisher</b> : {{sp.publisher}}</p>
	<p>
		<b> contact</b> : {{sp.contact[0].telecom[0].value}}</p>
	<p>
		<b> description</b> : {{sp.description}}</p>
	<p>
		<b> useContext</b> : </p>
	<p>
		<b> jurisdiction</b> : United States of America (the) <span> (Details : {urn:iso:std:iso:3166 code 'US' = 'United States of America', given as 'United
           States of America (the)'})</span>
	</p>
  <!--
	<p>
		<b> purpose</b> : Need to search by identifier for various infrastructural cases - mainly retrieving packages,
         and matching as part of a chain</p>
  -->
	<p>
		<b> code</b> : {{sp.code}}</p>
	<p>
		<b> base</b> :{{sp.base | join(', ')}}</p>
	<p>
		<b> type</b> : {{sp.type}}</p>
	<p>
		<b> expression</b> : {{sp.expression}}</p>
	<p>
		<b> xpath</b> : {{sp.xpath}}</p>
	<p>
		<b> xpathUsage</b> : {{sp.xpathUsage}}</p>
    <p>
  		<b> mulitpleOr</b> : {{sp.mulitpleOr}}   Conformance Expectation:{{ sp._multipleOr.extension[0].valueCode }}</p>
      <p>
        <b> mulitpleAnd</b> : {{sp.mulitpleAnd}}   Conformance Expectation:{{ sp._multipleAnd.extension[0].valueCode }}</p>
    {% if sp.comparator %}
    {% for i in sp.comparator %}
    <p>
		<b> comparator</b> : {{i}}  Conformance Expectation:{{ sp._comparator[loop.0index].extension[0].valueCode }}</p>
    {% endfor %}
    {% endif %}
    {% if sp.modifier %}
    {% for i in sp.modifier %}
    <p>
    <b> modifier</b> : {{i}}  Conformance Expectation:{{ sp._modifier[loop.0index].extension[0].valueCode }}</p>
    {% endfor %}
    {% endif %}
    {% if sp.chain %}
    {% for i in sp.chain %}
    <p>
    <b> chain</b> : {{i}}  Conformance Expectation:{{ sp._chain[loop.0index].extension[0].valueCode }}</p>
    {% endfor %}
</div>
