### Quick Start
Below is an overview of the required set of RESTful FHIR interactions - for
example, search and read operations - for this profile. See the [Conformance requirements]
for a complete list of supported RESTful interactions for this IG.

#### Mandatory Search Parameters:

The following search parameters, search parameter combinations and search parameter [modifiers], [comparators] and [chained parameters] SHALL be supported.  the  modifiers, comparators and chained parameters that are listed as optional SHOULD be supported.:

{% for i in sp  if i.base_conf == "SHALL" %}
{%- set nulls = [None,'','n/a'] %}
1. **{{i.base_conf}}** support the **`{{i.code}}`** search parameter:

  `GET [base]/{{i.base}}?{{i.code}}={{search_type[i.type]}}`
{%- if i.shall_modifier not in nulls %}
  - including support for these modifiers: `{{ i.shall_modifier.split(',')|join(', ') }}`
{%- endif %}
{%- if i.should_modifier not in nulls %}
{%- if i.shall_modifier not in nulls %}
    - and optioinal support these modifiers: `{{ i.should_modifier.split(',')|join(', ') }}
{%- else %}
  - including optional support these modifiers: `{{ i.should_modifier.split(',')|join(', ') }}`
{%- endif %}
{%- endif %}
{%- if i.shall_comparator not in nulls %}
  - including support for these comparators: `{{ i.shall_comparator.split(',')|join(', ') }}`
{%- endif %}
{%- if i.should_comparator not in nulls %}
{%- if i.shall_comparator not in nulls %}
    - and optional support these comparators: `{{ i.should_comparator.split(',')|join(', ') }}`
{%- else %}
  - including optional support these comparators: `{{ i.should_comparator.split(',')|join(', ') }}`
{%- endif %}
{%- endif %}
{%- if i.shall_chain not in nulls %}
  - including support for these chained parameters: `{{ i.shall_chain.split(',')|join(', ') }}`
{%- endif %}
{%- if i.should_chain not in nulls %}
{%- if i.shall_chain not in nulls %}
    - and optional support these chained parameter: `{{ i.should_chain.split(',')|join(', ') }}`
{%- else %}
  - including optional support these chained parameter: `{{ i.should_chain.split(',')|join(', ') }}`
{%- endif %}
{%- endif %}
{%if i.example not in nulls %}
  Example: {{i.example}}
{%- endif %}

  *Implementation Notes:* {{imp_note}}. Search by [i.type]
{%- endfor %}

#### Optional Search Parameters:

The following search parameters, search parameter combinations and search parameter [modifiers], [comparators] and [chained parameters] SHOULD be supported.

{% for i in sp  if i.base_conf == "SHOULD" %}
1. **{{i.base_conf}}** support the **`{{i.code}}`** search parameter:

  `GET [base]/{{i.base}}?{{i.code}}={{search_type[i.type]}}`
{%- if i.shall_modifier not in nulls %}
  - including support for these modifiers: `{{ i.shall_modifier.split(',')|join(', ') }}`
{%- endif %}
{%- if i.should_modifier not in nulls %}
{%- if i.shall_modifier not in nulls %}
    - and optioinal support these modifiers: `{{ i.should_modifier.split(',')|join(', ') }}
{%- else %}
  - including optional support these modifiers: `{{ i.should_modifier.split(',')|join(', ') }}`
{%- endif %}
{%- endif %}
{%- if i.shall_comparator not in nulls %}
  - including support for these comparators: `{{ i.shall_comparator.split(',')|join(', ') }}`
{%- endif %}
{%- if i.should_comparator not in nulls %}
{%- if i.shall_comparator not in nulls %}
    - and optional support these comparators: `{{ i.should_comparator.split(',')|join(', ') }}`
{%- else %}
  - including optional support these comparators: `{{ i.should_comparator.split(',')|join(', ') }}`
{%- endif %}
{%- endif %}
{%- if i.shall_chain not in nulls %}
  - including support for these chained parameters: `{{ i.shall_chain.split(',')|join(', ') }}`
{%- endif %}
{%- if i.should_chain not in nulls %}
{%- if i.shall_chain not in nulls %}
    - and optional support these chained parameter: `{{ i.should_chain.split(',')|join(', ') }}`
{%- else %}
  - including optional support these chained parameter: `{{ i.should_chain.split(',')|join(', ') }}`
{%- endif %}
{%- endif %}
{%if i.example not in nulls %}
  Example: {{i.example}}
{%- endif %}

  *Implementation Notes:* {{imp_note}}. Search by [i.type]
{%- endfor %}
{%raw %}{% include link-list.md %}{% endraw %}
