---
title: Operations and Search Parameters
layout: default
topofpage: true
sectionnumbering: true
---

The following search parameters have been defined for the {% raw %}{{site.data.fhir.igName}}{% endraw %} Implementation Guide.  For more information on the [FHIR RESTful search api]and the standard [Search Param Registry] see the FHIR specification.

<!-- Operations

{% raw %}
  { % include list-simple-operationdefinitions.xhtml % }
{% endraw %}

-->

Search Parameter

{% for i in r_list %}
**{{i}}**
  {%- for j in sp_list %}
    {%-  if i in j[1].base %}
  - [{{j[1].code}}](SearchParameter-{{j[0]}}.html)
    {%- endif %}
  {%- endfor %}
{% endfor %}
{% raw %}{% include link_list.md %}{% endraw %}
